@-webkit-keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}
@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}
.slideDown {
  -webkit-animation: slideDown 1s forwards;
          animation: slideDown 1s forwards;
}

@-webkit-keyframes slideUp {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}

@keyframes slideUp {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}
.slideUp {
  -webkit-animation: slideUp 1s forwards;
          animation: slideUp 1s forwards;
}

@-webkit-keyframes hideBtn {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes hideBtn {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.hideBtn {
  -webkit-animation: hideBtn 1s forwards;
          animation: hideBtn 1s forwards;
}

@-webkit-keyframes showBtn {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes showBtn {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.showBtn {
  -webkit-animation: showBtn 1s forwards;
          animation: showBtn 1s forwards;
}

@-webkit-keyframes specialLineSm {
  from {
    width: 0;
  }
  to {
    width: 550px;
  }
}

@keyframes specialLineSm {
  from {
    width: 0;
  }
  to {
    width: 550px;
  }
}
.specialLineSm {
  -webkit-animation: specialLineSm 0.3s forwards linear;
          animation: specialLineSm 0.3s forwards linear;
}

@-webkit-keyframes specialLineBg {
  from {
    width: 0;
  }
  to {
    width: 850px;
  }
}

@keyframes specialLineBg {
  from {
    width: 0;
  }
  to {
    width: 850px;
  }
}
.specialLineBg {
  -webkit-animation: specialLineBg 0.3s forwards linear;
          animation: specialLineBg 0.3s forwards linear;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.nav__desktop {
  display: none;
  z-index: 100;
}
.nav__desktop .nav__active {
  color: #ed213c;
}
.nav__mobile {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  color: white;
}
.nav__mobile .nav__active {
  color: #ed213c;
}
.nav__mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
}
.nav__mobile-btn {
  top: 50%;
  right: 5%;
  padding: 0.5em;
  font-size: 1.8em;
  position: absolute;
  translate: 0 -50%;
}
.nav__mobile-logo {
  font-family: "Poppins";
  padding: 0.5em;
  font-size: 1.2em;
  text-decoration: none;
  color: #eaeaea;
  font-weight: bold;
}
.nav__mobile-logo span {
  color: #ed213c;
  font-style: italic;
}
.nav__mobile-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
  overflow: hidden;
  max-height: 0;
}
.nav__mobile-link {
  font-family: "Poppins";
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.nav__mobile-link:hover {
  color: red;
}
.nav__mobile-link:last-of-type {
  padding-bottom: 1em;
}

.main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header {
  margin-top: 3em;
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  color: white;
}
.header__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/header.jpg");
  z-index: -2;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.header__shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5647058824);
}
.header__heading {
  padding-top: 1em;
  width: 250px;
  text-align: center;
  font-size: 2.6em;
  line-height: 1.2em;
  font-weight: bold;
  font-family: "Poppins";
  text-transform: uppercase;
}
.header__heading span {
  color: #ed213c;
}
.header__text {
  width: 400px;
  text-align: center;
  font-family: "Poppins";
  margin: 2em 0;
}
.header__btn {
  background-color: #ed213c;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 1em 6em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-family: "Poppins";
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.special {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 0;
}
.special__line {
  display: none;
}
.special__box {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.special__box > * {
  padding: 0.5em 0;
}
.special__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  color: white;
  background-color: #ed213c;
  border-radius: 50%;
  font-size: 1.8em;
  font-weight: bold;
}
.special__heading {
  font-size: 1.5em;
  font-weight: bold;
}
.special__text {
  width: 300px;
}

.offer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1em 0 4em;
}
.offer__heading {
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em 1em;
}
.offer__heading::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
  height: 10px;
  width: 30%;
  background-color: #ed213c;
}
.offer__boxes {
  width: 100%;
  height: 100%;
}
.offer__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 0;
}
.offer__box > * {
  padding: 0.5em 0;
}
.offer__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.offer__img-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4392156863);
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.offer__img-box {
  position: relative;
  padding: 0;
  width: 320px;
  height: 300px;
}
.offer__img-box:hover .offer__img-shadow {
  opacity: 0;
}
.offer__title {
  font-weight: bold;
  font-size: 1.4em;
}
.offer__text {
  width: 280px;
  font-size: 1.1em;
  font-family: serif;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery__heading {
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2em 1em;
}
.gallery__heading::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30%;
  height: 10px;
  width: 30%;
  background-color: #ed213c;
}
.gallery__boxes {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: 50% 50%;
  gap: 0.5em;
}
.gallery__box {
  position: relative;
  width: 150px;
  height: 230px;
  overflow: hidden;
}
.gallery__box:hover .gallery__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.faq {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faq__heading {
  position: relative;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2em 1em 1em;
}
.faq__heading::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30%;
  height: 10px;
  width: 30%;
  background-color: #ed213c;
}
.faq__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 600px;
  height: 350px;
}
.faq__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.faq__box:last-of-type {
  margin-top: 2em;
}
.faq__question {
  width: 300px;
  font-size: 1.3em;
  padding: 1em 0;
}
.faq__text {
  width: 300px;
  padding: 1em 0;
}

.contact {
  position: relative;
  width: 100%;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.contact__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/selective-focus-photography-steering-wheel.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
}
.contact__shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5568627451);
}
.contact__heading {
  width: 295px;
  font-size: 1.2em;
  color: white;
  z-index: 10;
  padding: 2em 0;
}
.contact__btn {
  background-color: #ed213c;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 6em;
  border: 1px solid transparent;
  border-radius: 3px;
  z-index: 10;
}

.footer {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  text-align: left;
}
.footer .fa-solid {
  color: #ed213c;
  margin-right: 0.5em;
}
.footer__box {
  padding: 0.5em 0;
  width: 250px;
}
.footer__box--socials {
  text-align: center;
  font-size: 1.6em;
}
.footer__box--socials .fa-brands {
  padding: 0 0.5em;
}

@media (min-width: 480px) {
  .header {
    min-height: 100vh;
  }
  .header__heading {
    font-size: 4em;
    width: 400px;
  }
  .header__text {
    width: 350px;
  }
  .offer__img-box {
    width: 380px;
    height: 300px;
  }
  .offer__text {
    width: 350px;
  }
  .gallery__boxes {
    grid-template-columns: repeat(2, 235px);
  }
  .gallery__box {
    width: 230px;
    height: 350px;
  }
  .faq__question, .faq__text {
    width: 375px;
  }
  .footer__box {
    padding: 0.5em 0;
    width: 300px;
    font-size: 1.2em;
  }
  .footer__box--socials {
    text-align: center;
    font-size: 1.8em;
  }
  .footer__box--socials .fa-brands {
    padding: 0 0.5em;
  }
}
@media (min-width: 768px) {
  .nav__mobile-logo {
    font-size: 1.4em;
  }
  .nav__mobile-btn {
    font-size: 2.4em;
  }
  .nav__mobile-link {
    font-size: 1em;
    padding: 0.5em 2em;
  }
  .header__heading {
    width: 800px;
  }
  .header__text {
    font-size: 1.2em;
    width: 750px;
  }
  .special {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .special__box {
    position: relative;
    padding: 1em 2em;
  }
  .special__text {
    width: 200px;
  }
  .special__icon {
    position: relative;
  }
  .special__line {
    padding: 0;
    display: block;
    position: absolute;
    width: 550px;
    height: 2px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #ed213c;
    z-index: -1;
  }
  .offer__heading {
    font-size: 2em;
  }
  .offer__title {
    font-size: 1.4em;
  }
  .offer__text {
    font-size: 1.2em;
  }
  .gallery__boxes {
    grid-template-columns: repeat(2, 380px);
    gap: 1em;
  }
  .gallery__box {
    width: 380px;
    height: 575px;
  }
  .faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .faq__heading {
    font-size: 3.4em;
    padding: 2em 1em 0.5em 0;
  }
  .faq__heading::before {
    left: 30%;
    top: 48%;
    width: 60%;
  }
  .faq__boxes {
    width: 750px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .faq__box {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 0em;
  }
  .faq__box--img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .faq__img {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 80%;
  }
  .faq__question {
    width: 375px;
  }
  .faq__text {
    width: 375px;
  }
  .contact__heading {
    width: 405px;
    font-size: 1.4em;
  }
  .footer {
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__box {
    padding: 0 0.5em;
    width: auto;
    font-size: 1.2em;
  }
  .footer__box--socials {
    text-align: center;
    font-size: 1.8em;
  }
  .footer__box--socials .fa-brands {
    padding: 0 0.5em;
  }
}
@media (min-width: 1200px) {
  .nav__mobile {
    display: none;
  }
  .nav__desktop {
    display: block;
    position: fixed;
    width: 100%;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000000;
    color: white;
  }
  .nav__desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__desktop-link {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    padding: 0 1.5em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-family: "Poppins";
  }
  .nav__desktop-link:hover {
    color: #ed213c;
  }
  .nav__desktop-logo {
    font-size: 1.6em;
    text-decoration: none;
    color: #eaeaea;
    font-weight: bold;
    font-family: "Poppins";
  }
  .nav__desktop-logo span {
    color: #ed213c;
    font-style: italic;
  }
  .header {
    min-height: 85vh;
  }
  .header__heading {
    font-size: 5.6em;
    width: 1200px;
  }
  .header__text {
    font-size: 1.2em;
    width: 750px;
  }
  .special {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .special__box {
    padding: 1em 2em;
  }
  .special__text {
    width: 350px;
  }
  .special__line {
    width: 850px;
  }
  .offer__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer__box {
    padding: 0.7em;
  }
  .gallery__boxes {
    padding: 1em 0;
    grid-template-columns: repeat(2, 590px);
    gap: 1em;
  }
  .gallery__box {
    width: 590px;
    height: 885px;
  }
  .faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3em;
  }
  .faq__boxes {
    width: 1150px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .faq__box {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 0em;
  }
  .faq__box--img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .faq__img {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 80%;
  }
  .faq__question {
    font-size: 1.6em;
    width: 570px;
  }
  .faq__text {
    font-size: 1.2em;
    width: 570px;
  }
  .contact__heading {
    width: auto;
  }
  .footer__box {
    padding: 0 2em;
  }
}/*# sourceMappingURL=main.css.map */