@use "colors" as *;
@use "animations" as *;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-family: "Manrope", sans-serif;
   font-size: 1.6rem;
}

.hidden {
   visibility: hidden;
}

.show {
   visibility: visible;
}
// nav
.nav {
   // mobile
   &__desktop {
      display: none;
      z-index: 100;
   }
   &__mobile {
      z-index: 100;
      position: fixed;
      width: 100%;
      padding: 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #000000;
      color: white;
      &-menu {
         position: absolute;
         width: 100%;
         height: 100%;
      }
      &-btn {
         top: 50%;
         right: 5%;
         padding: 0.5em;
         font-size: 1.8em;
         position: absolute;
         translate: 0 -50%;
      }
      &-logo {
         font-family: "Poppins";
         padding: 0.5em;
         font-size: 1.2em;
         text-decoration: none;
         color: $grey;
         font-weight: bold;
         span {
            color: $red;
            font-style: italic;
         }
      }
      &-dropdown {
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
         display: flex;
         flex-direction: column;
         background-color: #000000;
         overflow: hidden;
         max-height: 0;
      }
      &-link {
         font-family: "Poppins";
         padding: 0.5em 1em;
         color: white;
         text-decoration: none;
         transition: color 0.3s;
         &:hover {
            color: red;
         }
         &:last-of-type {
            padding-bottom: 1em;
         }
      }
   }
}

// main

// header
.main {
   position: relative;
   width: 100%;
   overflow: hidden;
}
.header {
   margin-top: 3em;
   position: relative;
   width: 100%;
   min-height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 1;
   color: white;

   &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/header.jpg");
      z-index: -2;
      background-position: center;
      background-size: cover;
      filter: blur(3px);
   }
   &__shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #00000090;
   }
   &__heading {
      padding-top: 1em;
      width: 250px;
      text-align: center;
      font-size: 2.6em;
      line-height: 1.2em;
      font-weight: bold;
      font-family: "Poppins";
      text-transform: uppercase;
      span {
         color: $red;
      }
   }
   &__text {
      width: 400px;
      text-align: center;
      font-family: "Poppins";
      margin: 2em 0;
   }
   &__btn {
      background-color: $red;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding: 1em 6em;
      border: 1px solid transparent;
      border-radius: 3px;
      font-family: "Poppins";
      transition: background-color 0.3s;
   }
}

// special

.special {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   padding: 4em 0;
   &__line {
      display: none;
   }
   &__box {
      padding: 2em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      text-align: center;
      & > * {
         padding: 0.5em 0;
      }
   }
   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      color: white;
      background-color: $red;
      border-radius: 50%;
      font-size: 1.8em;
      font-weight: bold;
   }
   &__heading {
      font-size: 1.5em;
      font-weight: bold;
   }
   &__text {
      width: 300px;
   }
}

.offer {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 1em 0 4em;
   &__heading {
      position: relative;
      font-size: 2em;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1em 1em;
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      &::before {
         position: absolute;
         content: "";
         left: 50%;
         transform: translateX(-50%);
         top: 10%;
         height: 10px;
         width: 30%;
         background-color: $red;
      }
   }
   &__boxes {
      width: 100%;
      height: 100%;
   }
   &__box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2em 0;
      & > * {
         padding: 0.5em 0;
      }
   }
   &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      &-shadow {
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: #00000070;
         opacity: 1;
         transition: opacity 0.3s;
      }
      &-box {
         position: relative;
         padding: 0;
         width: 320px;
         height: 300px;
         &:hover .offer__img-shadow {
            opacity: 0;
         }
      }
   }
   &__title {
      font-weight: bold;
      font-size: 1.4em;
      -webkit-text-stroke: 0.3px rgb(0, 0, 0);
   }
   &__text {
      width: 280px;
      font-size: 1.1em;
      font-family: serif;
   }
}

.gallery {
   position: relative;
   width: 100%;
   height: 100%;
   padding: 1em;
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   &__heading {
      position: relative;
      font-size: 2em;
      text-transform: uppercase;
      font-weight: bold;
      padding: 2em 1em;
      -webkit-text-stroke: 1px rgb(255, 255, 255);
      &::before {
         position: absolute;
         content: "";
         left: 50%;
         transform: translateX(-50%);
         top: 30%;
         height: 10px;
         width: 30%;
         background-color: $red;
      }
   }
   &__boxes {
      display: grid;
      grid-template-columns: repeat(2, 150px);
      grid-template-rows: 50% 50%;
      gap: 0.5em;
   }
   &__box {
      position: relative;
      width: 150px;
      height: 230px;
      overflow: hidden;
      &:hover .gallery__img{
         transform: scale(1.2);
      }
   }
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
   }
}

// mediaqueries
@media (min-width: 480px) {
   .header {
      min-height: 100vh;
      &__heading {
         font-size: 4em;
         width: 400px;
      }
      &__text {
         width: 350px;
      }
   }
   .offer {
      &__img {
         &-box {
            width: 380px;
            height: 300px;
         }
      }
      &__text {
         width: 350px;
      }
   }
   .gallery{
      &__boxes {
         grid-template-columns: repeat(2, 235px);
      }
      &__box{
         width: 230px;
         height: 350px;
      }}
}

@media (min-width: 768px) {
   .nav {
      &__mobile {
         &-logo {
            font-size: 1.4em;
         }
         &-btn {
            font-size: 2.4em;
         }
         &-link {
            font-size: 1em;
            padding: 0.5em 2em;
         }
      }
   }
   .header {
      &__heading {
         width: 800px;
      }
      &__text {
         font-size: 1.2em;
         width: 750px;
      }
   }

   .special {
      justify-content: center;
      align-items: start;
      flex-direction: row;
      &__box {
         position: relative;
         padding: 1em 2em;
      }

      &__text {
         width: 200px;
      }
      &__icon {
         position: relative;
      }
      &__line {
         padding: 0;
         display: block;
         position: absolute;
         width: 550px;
         height: 2px;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
         background-color: $red;
         z-index: -1;
      }
   }
   .offer {
      &__heading {
         font-size: 2em;
      }
      &__title {
         font-size: 1.4em;
      }
      &__text {
         font-size: 1.2em;
      }
   }
   .gallery{
      &__boxes {
         grid-template-columns: repeat(2, 380px);
         gap: 1em;
      }
      &__box{
         width: 380px;
         height: 575px;
      }}
}

@media (min-width: 1200px) {
   .nav {
      &__mobile {
         display: none;
      }
      &__desktop {
         display: block;
         position: fixed;
         width: 100%;
         padding: 1em;
         display: flex;
         justify-content: space-around;
         align-items: center;
         background-color: #000000;
         color: white;
         &-menu {
            display: flex;
            justify-content: center;
            align-items: center;
         }
         &-link {
            font-size: 1.2em;
            text-decoration: none;
            color: white;
            padding: 0 1.5em;
            transition: color 0.3s;
            font-family: "Poppins";
            &:hover {
               color: $red;
            }
         }
         &-logo {
            font-size: 1.6em;
            text-decoration: none;
            color: $grey;
            font-weight: bold;
            font-family: "Poppins";
            span {
               color: $red;
               font-style: italic;
            }
         }
      }
   }
   .header {
      min-height: 85vh;
      &__heading {
         font-size: 5.6em;
         width: 1200px;
      }
      &__text {
         font-size: 1.2em;
         width: 750px;
      }
   }
   .special {
      justify-content: center;
      align-items: start;
      flex-direction: row;
      &__box {
         padding: 1em 2em;
      }

      &__text {
         width: 350px;
      }
      &__line {
         width: 850px;
      }
   }
   .offer {
      &__boxes {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      &__box {
         padding: 0.7em;
      }
   }
   .gallery{
      &__boxes {
         padding: 1em 0;
         grid-template-columns: repeat(2, 590px);
         gap: 1em;
      }
      &__box{
         width: 590px;
         height: 885px;
      }}
}
